In [1]:
import pandas as pd 
import seaborn as sns

In [2]:
data=pd.read_csv('Salary_Data.csv')

In [39]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
data.dropna(inplace=True)

In [5]:
data['Gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [6]:
df = pd.get_dummies(data,columns=['Gender'],drop_first=True,dtype=int)

In [7]:
data=data.rename(columns={
    'Education Level':'Education'
})

In [8]:
data['Education'].unique()

array(["Bachelor's", "Master's", 'PhD', "Bachelor's Degree",
       "Master's Degree", 'High School', 'phD'], dtype=object)

In [9]:
data['Education']=data['Education'].replace({
    "Bachelor's":'Bachelors',
    "Bachelor's Degree":'Bachelors',
    "Master's":'masters',
    "Master's Degree":'masters',
    'PhD':'phD'
})

In [10]:
data['Education'].unique()

array(['Bachelors', 'masters', 'phD', 'High School'], dtype=object)

Label Encoding  start today

In [16]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder  # to make automatic encoding

In [11]:
import seaborn as sns

In [12]:
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
# .fit_transform  => kun column lai encoding lagaune 
encoder=LabelEncoder()
df['Label']=encoder.fit_transform(df.species)

In [18]:
df

     sepal_length  sepal_width  petal_length  petal_width    species  Label
0             5.1          3.5           1.4          0.2     setosa      0
1             4.9          3.0           1.4          0.2     setosa      0
2             4.7          3.2           1.3          0.2     setosa      0
3             4.6          3.1           1.5          0.2     setosa      0
4             5.0          3.6           1.4          0.2     setosa      0
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica      2
146           6.3          2.5           5.0          1.9  virginica      2
147           6.5          3.0           5.2          2.0  virginica      2
148           6.2          3.4           5.4          2.3  virginica      2
149           5.9          3.0           5.1          1.8  virginica      2

[150 rows x 6 columns]

In [19]:
encoder.classes_

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [20]:
df.Label.unique()

array([0, 1, 2])

In [ ]:
label encoding ma alphabetical order ma data lai encoding garxa(jasma order chaidaina tesma yasri label
encoding garxau

# Data Scaling 
data ko range yautai xaina data ko range xuttai xuttai xa teo bela scaling garinxa assume the column 

Age     Insulin
21        0
80        450

assume there is someone wich has age
(40,42) and insulin (300,100)
here the age has 40 42 they are very close  but at the same time the colum insulin are very far 
to make them reside in the same range we need scaling 


there are some techniques
1. min max scaling
=>( x-xmin)/(xmax-xmin)   in the range of (0,1)

a +[ ((x - x_min) / (x_max - x_min)) ]* (b - a) 

(a,b): desired range (e.g., 0 to 1)

3. standardization (Z-score normalization)
   =>(x-mew)/sd
   
Note: scaling is done after train test split 
standard scaler ley mean =0, sd=1

In [28]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [37]:
data=pd.read_csv('Diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [38]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [22]:
x=data[['Glucose','Age']]
y=data.Outcome

In [29]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=33)

In [33]:
scaler=StandardScaler()
data['BloodPressure']=scaler.fit_transform(data[['BloodPressure']])

In [34]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,0.149641,35,0,33.6,0.627,50,1
1,1,85,-0.160546,29,0,26.6,0.351,31,0
2,8,183,-0.263941,0,0,23.3,0.672,32,1
3,1,89,-0.160546,23,94,28.1,0.167,21,0
4,0,137,-1.504687,35,168,43.1,2.288,33,1

In [35]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,7.680000e+02,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,1.503427e-17,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,1.000652e+00,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,-3.572597e+00,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,-3.673367e-01,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,1.496408e-01,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,5.632228e-01,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,2.734528e+00,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

# min max scaling

In [43]:
df=pd.read_csv('Diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [44]:
minmax=MinMaxScaler()
df['BloodPressure']=minmax.fit_transform(df[['BloodPressure']])

In [45]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,0.590164,35,0,33.6,0.627,50,1
1,1,85,0.540984,29,0,26.6,0.351,31,0
2,8,183,0.524590,0,0,23.3,0.672,32,1
3,1,89,0.540984,23,94,28.1,0.167,21,0
4,0,137,0.327869,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,0.622951,48,180,32.9,0.171,63,0
764,2,122,0.573770,27,0,36.8,0.340,27,0
765,5,121,0.590164,23,112,26.2,0.245,30,0
766,1,126,0.491803,0,0,30.1,0.349,47,1
767,1,93,0.573770,31,0,30.4,0.315,23,0

In [46]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,0.566438,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,0.158654,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,0.508197,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,0.590164,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,0.655738,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,1.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [47]:
df=pd.read_csv('Diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [50]:
minmax=MinMaxScaler(feature_range=(2,5))
df['BloodPressure']=minmax.fit_transform(df[['BloodPressure']])

In [48]:
help(MinMaxScaler)

Help on class MinMaxScaler in module sklearn.preprocessing._data:

class MinMaxScaler(sklearn.base.OneToOneFeatureMixin, sklearn.base.TransformerMixin, sklearn.base.BaseEstimator)
 |  MinMaxScaler(feature_range=(0, 1), *, copy=True, clip=False)
 |
 |  Transform features by scaling each feature to a given range.
 |
 |  This estimator scales and translates each feature individually such
 |  that it is in the given range on the training set, e.g. between
 |  zero and one.
 |
 |  The transformation is given by::
 |
 |      X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
 |      X_scaled = X_std * (max - min) + min
 |
 |  where min, max = feature_range.
 |
 |  This transformation is often used as an alternative to zero mean,
 |  unit variance scaling.
 |
 |  `MinMaxScaler` doesn't reduce the effect of outliers, but it linearly
 |  scales them down into a fixed range, where the largest occurring data point
 |  corresponds to the maximum value and the smallest one corresponds to the
 |  minimum value. For an example visualization, refer to :ref:`Compare
 |  MinMaxScaler with other scalers <plot_all_scaling_minmax_scaler_section>`.
 |
 |  Read more in the :ref:`User Guide <preprocessing_scaler>`.
 |
 |  Parameters
 |  ----------
 |  feature_range : tuple (min, max), default=(0, 1)
 |      Desired range of transformed data.
 |
 |  copy : bool, default=True
 |      Set to False to perform inplace row normalization and avoid a
 |      copy (if the input is already a numpy array).
 |
 |  clip : bool, default=False
 |      Set to True to clip transformed values of held-out data to
 |      provided `feature range`.
 |
 |      .. versionadded:: 0.24
 |
 |  Attributes
 |  ----------
 |  min_ : ndarray of shape (n_features,)
 |      Per feature adjustment for minimum. Equivalent to
 |      ``min - X.min(axis=0) * self.scale_``
 |
 |  scale_ : ndarray of shape (n_features,)
 |      Per feature relative scaling of the data. Equivalent to
 |      ``(max - min) / (X.max(axis=0) - X.min(axis=0))``
 |
 |      .. versionadded:: 0.17
 |         *scale_* attribute.
 |
 |  data_min_ : ndarray of shape (n_features,)
 |      Per feature minimum seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_min_*
 |
 |  data_max_ : ndarray of shape (n_features,)
 |      Per feature maximum seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_max_*
 |
 |  data_range_ : ndarray of shape (n_features,)
 |      Per feature range ``(data_max_ - data_min_)`` seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_range_*
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  n_samples_seen_ : int
 |      The number of samples processed by the estimator.
 |      It will be reset on new calls to fit, but increments across
 |      ``partial_fit`` calls.
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  See Also
 |  --------
 |  minmax_scale : Equivalent function without the estimator API.
 |
 |  Notes
 |  -----
 |  NaNs are treated as missing values: disregarded in fit, and maintained in
 |  transform.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.preprocessing import MinMaxScaler
 |  >>> data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
 |  >>> scaler = MinMaxScaler()
 |  >>> print(scaler.fit(data))
 |  MinMaxScaler()
 |  >>> print(scaler.data_max_)
 |  [ 1. 18.]
 |  >>> print(scaler.transform(data))
 |  [[0.   0.  ]
 |   [0.25 0.25]
 |   [0.5  0.5 ]
 |   [1.   1.  ]]
 |  >>> print(scaler.transform([[2, 2]]))
 |  [[1.5 0. ]]
 |
 |  Method resolution order:
 |      MinMaxScaler
 |      sklearn.base.OneToOneFeatureMixin
 |      sklearn.base.TransformerMixin
 |      sklearn.utils._set_output._SetOutputMixin
 |      sklearn.base.BaseEstimator
 |      sklearn.utils._estimator_html_repr._HTMLDocumentationLinkMixin
 |      sklearn.utils._metadata_requests._MetadataRequester
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, feature_range=(0, 1), *, copy=True, clip=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __sklearn_tags__(self)
 |
 |  fit(self, X, y=None)
 |      Compute the minimum and maximum to be used for later scaling.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data used to compute the per-feature minimum and maximum
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  inverse_transform(self, X)
 |      Undo the scaling of X according to feature_range.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input data that will be transformed. It cannot be sparse.
 |
 |      Returns
 |      -------
 |      Xt : ndarray of shape (n_samples, n_features)
 |          Transformed data.
 |
 |  partial_fit(self, X, y=None)
 |      Online computation of min and max on X for later scaling.
 |
 |      All of X is processed as a single batch. This is intended for cases
 |      when :meth:`fit` is not feasible due to very large number of
 |      `n_samples` or because X is read from a continuous stream.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  transform(self, X)
 |      Scale features of X according to feature_range.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input data that will be transformed.
 |
 |      Returns
 |      -------
 |      Xt : ndarray of shape (n_samples, n_features)
 |          Transformed data.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_parameter_constraints': <class 'dict'>}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.OneToOneFeatureMixin:
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Input features.
 |
 |          - If `input_features` is `None`, then `feature_names_in_` is
 |            used as feature names in. If `feature_names_in_` is not defined,
 |            then the following input feature names are generated:
 |            `["x0", "x1", ..., "x(n_features_in_ - 1)"]`.
 |          - If `input_features` is an array-like, then `input_features` must
 |            match `feature_names_in_` if `feature_names_in_` is defined.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Same as input features.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.OneToOneFeatureMixin:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  set_output(self, *, transform=None)
 |      Set output container.
 |
 |      See :ref:`sphx_glr_auto_examples_miscellaneous_plot_set_output.py`
 |      for an example on how to use the API.
 |
 |      Parameters
 |      ----------
 |      transform : {"default", "pandas", "polars"}, default=None
 |          Configure output of `transform` and `fit_transform`.
 |
 |          - `"default"`: Default output format of a transformer
 |          - `"pandas"`: DataFrame output
 |          - `"polars"`: Polars output
 |          - `None`: Transform configuration is unchanged
 |
 |          .. versionadded:: 1.4
 |              `"polars"` option was added.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __init_subclass__(auto_wrap_output_keys=('transform',), **kwargs)
 |      This method is called when a class is subclassed.
 |
 |      The default implementation does nothing. It may be
 |      overridden to extend subclasses.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |      Helper for pickle.
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  __sklearn_clone__(self)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._metadata_requests._MetadataRequester:
 |
 |  get_metadata_routing(self)
 |      Get metadata routing of this object.
 |
 |      Please check :ref:`User Guide <metadata_routing>` on how the routing
 |      mechanism works.
 |
 |      Returns
 |      -------
 |      routing : MetadataRequest
 |          A :class:`~sklearn.utils.metadata_routing.MetadataRequest` encapsulating
 |          routing information.

In [51]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,3.770492,35,0,33.6,0.627,50,1
1,1,85,3.622951,29,0,26.6,0.351,31,0
2,8,183,3.573770,0,0,23.3,0.672,32,1
3,1,89,3.622951,23,94,28.1,0.167,21,0
4,0,137,2.983607,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,3.868852,48,180,32.9,0.171,63,0
764,2,122,3.721311,27,0,36.8,0.340,27,0
765,5,121,3.770492,23,112,26.2,0.245,30,0
766,1,126,3.475410,0,0,30.1,0.349,47,1
767,1,93,3.721311,31,0,30.4,0.315,23,0

In [52]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,3.699315,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,0.475962,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,3.524590,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,3.770492,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,3.967213,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,5.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [53]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,3.770492,35,0,33.6,0.627,50,1
1,1,85,3.622951,29,0,26.6,0.351,31,0
2,8,183,3.573770,0,0,23.3,0.672,32,1
3,1,89,3.622951,23,94,28.1,0.167,21,0
4,0,137,2.983607,35,168,43.1,2.288,33,1

In [ ]:
# note: scaling is done after   first ma train_test split  then  scaling is done

In [57]:
import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [55]:
df=pd.read_csv('Diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [59]:
x=data[['Glucose','Age']]
y=data.Outcome

In [60]:
x

     Glucose  Age
0        148   50
1         85   31
2        183   32
3         89   21
4        137   33
..       ...  ...
763      101   63
764      122   27
765      121   30
766      126   47
767       93   23

[768 rows x 2 columns]

In [61]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=33)

In [65]:
xtrain_s=scaler.fit_transform(xtrain)
xtest_s=scaler.transform(xtest)

In [66]:
xtrain_s

array([[-0.33302989, -0.52785121],
       [ 1.77405666,  0.63887777],
       [ 0.53459398, -1.02787792],
       ...,
       [ 1.68109696, -0.94454013],
       [ 1.40221785, -0.52785121],
       [ 0.16275518, -0.52785121]], shape=(614, 2))

In [67]:
xtest_s

array([[ 0.44163428,  2.38897125],
       [ 0.47262085,  2.97233574],
       [-1.13868064,  1.05556669],
       [-0.95276123,  0.22218885],
       [ 1.15432532, -0.44451343],
       [-0.39500303, -0.0278245 ],
       [-0.58092243, -1.02787792],
       [ 1.80504322,  0.22218885],
       [-0.36401646, -0.52785121],
       [ 0.16275518,  1.13890448],
       [ 1.61912382, -0.94454013],
       [ 1.09235218,  1.63893119],
       [-0.17809706, -0.44451343],
       [-1.0767075 , -0.69452678],
       [ 2.26984173,  2.13895789],
       [ 0.25571488, -0.11116229],
       [-0.64289556,  1.05556669],
       [-0.95276123, -0.77786457],
       [-0.20908363,  0.05551328],
       [-0.36401646, -1.02787792],
       [-0.67388213, -0.44451343],
       [ 0.72051338,  2.05562011],
       [-0.20908363, -0.69452678],
       [-0.11612393, -0.77786457],
       [-0.45697616, -0.94454013],
       [ 1.12333875, -0.27783786],
       [-0.33302989, -0.52785121],
       [-0.20908363,  0.72221556],
       [ 2.33181486,  0.63887777],
       [ 1.37123129,  1.30558005],
       [ 0.68952681, -0.86120235],
       [-1.32460004,  0.4722022 ],
       [-0.02316423,  0.05551328],
       [-0.45697616, -0.77786457],
       [ 2.36280143,  1.63893119],
       [-0.11612393, -0.52785121],
       [ 0.78248652, -0.44451343],
       [ 1.37123129, -0.611189  ],
       [-1.66545227,  1.05556669],
       [ 0.10078204, -0.27783786],
       [-0.39500303, -0.94454013],
       [ 1.80504322, -0.86120235],
       [-0.11612393, -0.27783786],
       [-0.64289556, -0.44451343],
       [ 0.93741935, -0.94454013],
       [-0.54993586,  0.72221556],
       [ 0.50360741, -0.0278245 ],
       [ 2.33181486, -0.36117564],
       [ 1.43320442, -0.0278245 ],
       [-0.20908363,  0.30552663],
       [ 2.42477456, -0.94454013],
       [-0.8907881 , -0.77786457],
       [ 1.71208352,  1.5555934 ],
       [ 0.72051338, -0.44451343],
       [-1.47953287, -0.52785121],
       [ 0.10078204, -0.36117564],
       [-1.4485463 , -0.86120235],
       [ 0.25571488, -0.69452678],
       [ 0.10078204, -0.27783786],
       [-0.27105676, -0.77786457],
       [ 1.43320442, -0.27783786],
       [ 2.3008283 , -0.19450007],
       [-0.67388213,  1.38891783],
       [-0.11612393, -0.77786457],
       [-0.30204333, -0.77786457],
       [ 0.22472831, -0.0278245 ],
       [-0.39500303, -0.0278245 ],
       [-1.1696672 ,  0.05551328],
       [ 0.16275518,  0.4722022 ],
       [ 0.81347308, -0.27783786],
       [ 0.25571488, -0.19450007],
       [-1.01473437, -0.36117564],
       [ 1.30925815,  1.13890448],
       [-0.45697616,  1.5555934 ],
       [ 1.80504322,  0.30552663],
       [ 0.47262085, -0.94454013],
       [-0.58092243, -0.52785121],
       [-0.92177467, -0.94454013],
       [-0.92177467,  2.05562011],
       [-0.4259896 , -0.69452678],
       [ 0.10078204,  0.30552663],
       [-0.73585526, -0.94454013],
       [ 0.16275518,  0.72221556],
       [-0.67388213, -0.11116229],
       [-0.4259896 , -0.86120235],
       [-0.27105676,  2.05562011],
       [-0.02316423, -0.611189  ],
       [-0.02316423,  0.38886442],
       [-0.05415079, -0.36117564],
       [-0.45697616,  0.97222891],
       [-0.08513736, -1.02787792],
       [-0.20908363, -0.52785121],
       [ 1.18531189,  0.55553999],
       [ 0.81347308,  0.80555334],
       [-0.27105676, -0.69452678],
       [-1.20065377, -0.86120235],
       [-0.4259896 , -0.77786457],
       [-0.02316423,  0.63887777],
       [ 0.75149995, -0.19450007],
       [-0.54993586, -0.94454013],
       [-3.74155226,  0.63887777],
       [-0.95276123, -0.94454013],
       [-0.73585526, -0.94454013],
       [ 0.16275518, -0.77786457],
       [ 0.53459398, -0.69452678],
       [ 0.13176861,  1.30558005],
       [-0.85980153, -0.86120235],
       [-0.36401646, -0.86120235],
       [-0.14711049, -0.27783786],
       [ 0.65854025, -1.02787792],
       [-0.30204333, -0.86120235],
       [ 0.10078204, -1.02787792],
       [-0.95276123, -0.69452678],
       [ 0.78248652, -0.36117564],
       [ 0.13176861, -0.77786457],
       [-0.5189493 ,  0.63887777],
       [ 1.18531189,  0.22218885],
       [-0.64289556,  1.05556669],
       [-0.05415079, -0.86120235],
       [ 1.03037905,  0.97222891],
       [ 0.68952681,  0.63887777],
       [-0.67388213, -1.02787792],
       [ 0.72051338, -0.69452678],
       [ 0.25571488, -0.36117564],
       [ 0.56558055, -0.611189  ],
       [-0.45697616, -0.94454013],
       [-0.8907881 ,  1.05556669],
       [-0.45697616,  0.05551328],
       [ 0.31768801, -0.94454013],
       [-1.0767075 , -0.36117564],
       [-0.14711049, -0.69452678],
       [-1.13868064, -1.02787792],
       [-1.82038511,  0.63887777],
       [ 1.55715069, -0.77786457],
       [-0.17809706,  1.05556669],
       [ 0.68952681,  1.13890448],
       [ 0.90643278,  0.30552663],
       [ 0.10078204,  0.22218885],
       [ 0.56558055, -0.36117564],
       [-0.95276123, -0.77786457],
       [-0.27105676,  0.63887777],
       [-0.17809706,  0.88889113],
       [-1.47953287, -0.69452678],
       [-0.4259896 , -0.19450007],
       [-0.45697616, -0.36117564],
       [-0.02316423, -0.36117564],
       [-0.7048687 ,  0.80555334],
       [-1.32460004, -1.02787792],
       [-0.05415079, -0.94454013],
       [ 1.12333875, -0.77786457],
       [ 0.06979548,  0.55553999],
       [-0.36401646,  1.72226897],
       [-0.73585526,  1.5555934 ],
       [ 0.90643278,  1.72226897]])

.fit()=> mean rw sd calculate garxa , 
.transform()=>yesle chai mean rw sd value teo range vitrw transform garxa
sclaing garda xtrain data lai matrw garne  tespacchi chai test data ko kam garne

train ma chai fit. transfom garinxa
but in the test  ma .transform matrw garinxa kina vanye .fit aghdi ko objec ma store vaisakye hunxa 
mean rw sd train data ko matrw nikalne but in test data only transfom is done

-distance Based 
-value of k=5 , number of the neighbours 
-top 5 minimum distance
 Today we will be discussing 
data scaling and then label encoding