<a href="https://colab.research.google.com/github/AbishekMishra183/data-science-ml-journey/blob/main/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=['ram','hari','shyam','gita']
i=0# initializer
while i<len(name):#condition
    print(name[i])
    i=i+1#incremental

ram
hari
shyam
gita

In [ ]:
numbers = [1, 2, 3, 4]
sum = 0
i = 0

while i < len(numbers):
    sum += numbers[i]
    i += 1
print(sum)  # Running total after each step

10

In [ ]:
# for
#=>dinite interation
#=>if you know how many times you are iterating

# while loop
#=>infinite iteration
#=>if you didnot know how many time you are iterationg

#generate infinite starting form 1
i=1
while True:
    print(i)
    i+=1

In [ ]:
age = int(input("Enter your age: "))

while age < 18:
    print("You are under 18. Try again.")
    age = int(input("Enter your age: "))

print("Congratulations! You are eligible.")

Enter your age:  12

You are under 18. Try again.

Enter your age:  13

You are under 18. Try again.

Enter your age:  19

Congratulations! You are eligible.

In [ ]:
#function
x=1
y=1
sum=x+y
print(sum)

2

In [ ]:
def add():# function declaration
  x=1
  y=1
  sum=x+y
  print(sum)

In [ ]:
add()#  calling the function

2

In [ ]:
def add(x,y):# function declaration where x and y are called arguments

  sum=x+y
  print(sum)

In [ ]:
add(2,6)# here 2 and 6 are parameeter

2

In [ ]:
add(2,x=4)# both value are teeated as x so this error occurs

TypeError: add() got multiple values for argument 'x'

In [ ]:
add(x=2,4)# x=>2 is the keyword argument so if we once write the keyword argument then in every case we have to use keyword argument

SyntaxError: positional argument follows keyword argument (2957643209.py, line 1)

In [ ]:
add(2,y=4)# we can write the keyword argument at the last not in the first

2

In [ ]:
def add(x,y):# function declaration where x and y are called arguments
 sum=x+y
 return sum

In [ ]:
s= add(2,5)

In [ ]:
def add(x,y):# function declaration where x and y are called arguments
 sum=x+y
 return sum

In [ ]:
def add(x, y=0):
    return x + y

s = add(5)        # Only x is given, y defaults to 0
print(s)          # Output: 5

t = add(5, 3)     # Both x and y are given
print(t)          # Output: 8

5
8

In [ ]:
s = add(5)        # Only x is given, y defaults to 0
print(s)

5

In [ ]:
t = add(5, 3)     # Both x and y are given
print(t)

8

In [ ]:
def calculator(x,y):
    add=x+y
    sub=x-y
    mul=x*y
    div=x/y
    return add# only first retuen will retuenn the value
    return sub
    return mul
    return div

In [ ]:
result= calculator(4,2)
print (result)

6

In [ ]:
result= calculator(4,2)
print (result)

6

In [ ]:
def calculator(x,y):# muntiple return in the function and we get the tuple output
    add=x+y
    sub=x-y
    mul=x*y
    div=x/y
    return add, sub, mul ,div# only first retuen will retuenn the value

In [ ]:
result= calculator(4,2)
print (result)

(6, 2, 8, 2.0)

In [ ]:
def addition(*args):# * is used to define any number of the arguments
    print(args,type(args))

In [ ]:
addition(1,2,3)

(1, 2, 3) <class 'tuple'>

In [ ]:
def addition(*args):
    total = 0  # Initialize total to 0
    for num in args:  # Loop through each argument
        total += num  # Add each argument to total
    return total

In [ ]:
addition(1, 2, 3)#with giving 3 parameters

6

In [ ]:
addition(5, 10) # with giving 2 parameter

15

In [ ]:
addition()  # without giving parameter

0

In [ ]:
addition(1,2,3,4,5,6,7,8,9,10)

55

In [ ]:
addition(x=2,y=3)

TypeError: addition() got an unexpected keyword argument 'x'

In [ ]:
def additon(**kwargs):
    print(kargs,type(kwargs))

In [ ]:
addition(x=1,y=2)

TypeError: addition() got an unexpected keyword argument 'x'

In [ ]:
def additon(**kwargs):
    sum=0
    for i in kwargs.value():
        sum=sum+i
        return sum

In [ ]:
addition(1,2)

3

In [ ]:
def addition(*args,**kwargs):
    sum=0
    for i in args:
        sum+=1
    for i in kwargs.values():
        sum+=1
        return sum

In [ ]:
addition(3,4,5,x=1,y=2,a=5,z=4)

4

In [ ]:
def hello():
    xyz=8#function level=>local scope
    print(xyz)
hello()

8

In [ ]:
print(xyz)

NameError: name 'xyz' is not defined

In [ ]:
name='shyam'# module level or global level scope
print(name)

shyam

In [ ]:
def hi():
    print(name)#first search in the local space then only move towards the global scope
hi()

shyam

In [ ]:
max([1,2,3])

3

In [ ]:
min([1,2,3])

1

In [ ]:
len([1,2,3])

3

In [ ]:
def hi():
    print(age)# first in the local scope then only in the global also after local it move towards the bulit
hi()

NameError: name 'age' is not defined

In [ ]:
#built in scope==anywhwere in the python file=>print , min , max, sorted
#global scope== created variable within python file
#local scope==inside function